<%= form_for(@to_do_items) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Add new item...", :style => "width: 250px" %>
  </div>
<%= f.submit "Add", class: "btn btn-primary", :style => "width: 100px" %>
<% end %>
