<% provide(:title, 'Welcome') %>
<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Home</h1>
	<p>I am a home page</p>
	<%= link_to "Sign up now!", signup_path, class: "btn" %>
</body>
</html>
