<% provide(:title, 'Welcome') %>
<% provide(:log_status, 'Log in') %>
<% provide(:redirect_to_log, '/login') %>
<% provide(:home, 'Home') %>
<% provide(:redirect_to_home, '..') %>
<% provide(:signup, 'Sign Up') %>
<% provide(:redirect_to_sign_up, 'signup') %>
<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>2Doer</h1>
    <p>Welcome to your online to-do list:</p>
  <br>
  <%= link_to "Log in", login_path, class: "btn btn-success center-block" %>
  <br><br>
  <%= link_to "Sign up", signup_path, class: "btn btn-success center-block" %>
</body>
</html>
